body {
    color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.126); font-family: 'Times New Roman', Times, serif; font-size: 20px;
    }
    
img {
    display: block;
    margin:  20px auto;
    max-width: 20%;
    height: auto;
    border-radius: 0px;
    border: 2px solid #00000080;
}
table {
    width: 100%;
    border-collapse: collapse;
}