/* Estilos para el área de resultados */
#resultados {
    border: 10px solid #5f5a5abe;
    padding: 20px;
    width: 900px;
    margin-top: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Estilo del título */
h3 {
    font-family: Arial, sans-serif;
    color: #000000;
}
