/* Estilos para el área de resultados */
#resultados {
    border: 1000px solid #322c2cbe;
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Estilo del título */
h3 {
    font-family: Arial, sans-serif;
    color: #333;
}
